//Background colors
$bgColorPrimary: #dcfe54;
$bgColorSecondary: #141832;
$bgColorTertiary: #08e394;
$bgColorQuaternary: #f8f8f8;

//Button colors
$btnColor: #dcfe54;
$btnColorSecondary: #08e394;
$btnColorTertiary: #141832;

//Fonts colors
$fontColorPrimary: white;
$fontColorSecondary: #08e394;
$fontColorTertiary: #414141;
$fontColorQuaternary: #141832;

//Fonts typography
$fontFamilyPrimary: 'Roboto', sans-serif;
$fontFamilySecondary: 'Roboto Condensed', sans-serif;

// Responsive breakpoints
$minWidthPhone: 0px;
$maxWidthPhone: 639.9px;
$minWidthTablet: 640px;
$maxWidthTablet: 1024.9px;
$minWidthDesktop: 1025px;
